{% extends "template.html" %}
{% block conteudo %}
    <br>
    <form action="/usuario/editar/{{ usuario.id }}" class="container" method="post">
        <div class="row">
            <div class="col-md-4">
                <label class="form-check-label">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" value="{{ usuario.nome }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-check-label">Cpf</label>
                <input type="text" name="cpf" id="cpf" class="form-control"value="{{ usuario.cpf }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Sexo</label>
                <select required name="sexo" class="form-control">
                    <option value="M" {% if usuario.sexo == "M" %}selected{% endif %}>Masculino</option>
                    <option value="F" {% if usuario.sexo == "F" %}selected{% endif %}>Feminino</option>
                    <option value="O" {% if usuario.sexo == "O" %}selected{% endif %}>Outros</option>
                </select>
            </div>
        </div>
        <br>
        <h3>Empresa</h3>
        <ul style="list-style: none;" >
            {% for empresa in listaEmpresa %}
                <li>
                    {% if empresa in usuario.empresas %}
                        <input type="checkbox" name="empresa" value="{{empresa.id}}" checked> - {{empresa.nome}}
                    {% else %}
                        <input type="checkbox" name="empresa" value="{{empresa.id}}"> - {{empresa.nome}}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="row col-md-4">
            <span></span>
            <button type="submit" class="btn btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-ok"aria-hidden="true"></span> Salvar</button>
            <button onclick="location.href='/usuarios'" type="button" class="btn btn btn-warning">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <a style="text-decoration: none; color: inherit;"> Voltar</a>
            </button>
        </div>
    </form>
{% endblock %}